
body{
    overflow: hidden;
    inset: 0px;
    margin: 0px;
}

#div1{
    position: fixed;
    width: 500px;
    height: 500px;
    background-color: white;
    display: grid;
    place-items: center;
    top: 20%;
    left: 35%;
    box-shadow: 3px 3px 30px gray, -3px -3px 30px gray;
}

#img1{
    width: 400px;
    height: 400px;
}

#div2{
    position: absolute;
    left: 45%;
}

h1{
    font-size: 30px;
}

li{
    font-size: 25px;
}

#div3{
    position: absolute;
    left: 2%;
    top: 5%;
}

.addthing{
    animation: rotate;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes rotate {
    100%{transform: rotateZ(360deg);}
}





