
body{
    overflow: hidden;
    background-color: rgb(255, 224, 48);
    height: 100vh;
}

#div2{
    inset: 0;
    position: fixed;
    pointer-events: none;
    background-size: 150px 150px;
    background-image: 
        radial-gradient(2px 2px at 70% 30%, black, transparent),
        radial-gradient(1px 2px at 10% 80%, black, transparent),
        radial-gradient(2px 1px at 40% 90%, black, transparent),
        radial-gradient(2px 3px at 40% 50%, black, transparent);
    animation: background1 10s linear infinite;
}

@keyframes background1 {
    from{background-position: 0 0}
    to{background-position: 0 100vh}
}

#div1{
    position: relative;
    left: 40%;
    top: 10vmax;
    display: grid; 
    place-content: center;
    width: 20vmax;
    height: 25vmax;
    background-color: black;
    border-radius: 30px;
    box-shadow: 3px 3px 30px black, -3px -3px 30px black;
}

.inp{
    width: 15vmax;
    height: 2vmax;
    font-size: 22px;
    background-color: rgb(255, 224, 48);
}

.inp::placeholder{
    color: black;
}

#inp1{
    position: absolute;
    top: 15%;
    left: 11%;
}

#inp2{
    position: absolute;
    top: 30%;
    left: 11%;
}

#btn1{
    position: absolute;
    border-radius: 30px;
    width: 8vmax;
    height: 2vmax;
    top: 60%;
    left: 32%;
    font-size: 25px;
    background-color: rgb(255, 224, 48);
}

#img1{
    position: absolute;
    left: -1000px;
    top: 30%;
    animation: horse_move;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform: scale(2, 2);
}

#img2{
    position: absolute;
    left: 2800px;
    top: 30%;
    animation: horse_move2;
    animation-timing-function: linear;
    animation-duration: 3.9s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform: scale(2, 2);
    transform: rotateY(180deg);
}

@keyframes horse_move {
    100%{transform: translateX(1400px) scale(2, 2);}
}

@keyframes horse_move2 {
    100%{transform: translateX(-1500px) scale(2, 2) rotateY(180deg);}
}

/* i made all this in like 1 hour and 30 minutes i finished at 8.24 on 10.02.2026 */

/* i started to code at 5.24 on 11.02.2026 */

#h1{
    position: absolute;
    top: 60%;
    left: 42%;
    font-size: 1vmax;
    color: rgb(255, 224, 48);
    text-decoration: underline;
    width: 300px;
}













