
body{
    overflow: hidden;
    inset: 0px;
    margin: 0px;
    background-color: rgb(255, 224, 48);
}

#a1{
    position: absolute;
    top: 40%;
    left: 35%;
}

#btn2{
    width: 10vmax;
    height: 2vmax;
    position: absolute;
    top: 55%;
    left: 44%;
    border-radius: 30px;
    background-color: rgb(255, 224, 48);
}

#div1{
    position: fixed;
    width: 500px;
    height: 500px;
    background-color: black;
    display: grid;
    place-items: center;
    top: 20%;
    left: 130%;
    box-shadow: 3px 3px 30px black, -3px -3px 30px black;
}

.remain{
    animation: move1;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes move1{
    100%{transform: translateX(-350%) rotateZ(360deg);}
}

#img1{
    width: 400px;
    height: 400px;
}

#div3{
    position: absolute;
    left: 130%;
    top: 5%;
    width: 550px;
    height: 400px;
    background-color: black;
    display: grid;
    place-items: center;
    box-shadow: 3px 3px 30px black, -3px -3px 30px black;
}

.remain2{
    animation: move2;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes move2{
    100%{transform: translateX(-450%) rotateZ(360deg);}
}

#div2{
    position: absolute;
    left: 130%;
    top: 55%;
    width: 580px;
    height: 390px;
    background-color: black;
    display: grid;
    place-items: center;
    box-shadow: 3px 3px 30px black, -3px -3px 30px black;
}

.remain3{
    animation: move3;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes move3{
    100%{transform: translateX(-210%) rotateZ(360deg);}
}

#btn1{
    width: 10vmax;
    height: 2vmax;
    position: absolute;
    top: 85%;
    left: 120%;
    border-radius: 30px;
    background-color: rgb(255, 224, 48);
}

.remain4{
    animation: move4;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes move4{
    100%{transform: translateX(-730%);}
}

.rotate2{
    animation: rotate12;
    animation-timing-function: linear;
    animation-duration: 2.5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

@keyframes rotate12 {
    100%{transform: rotateZ(360deg);}
}

